<footer class="row maxRow mainBackgroundColor">
	<div class="row">
		<div class="column large-4 large-offset-4">
			<nav class="menu-centered">
				<ul class="menu">
					<li><a href="#">github</a></li>
					<li><a href="#">linkedIn</a></li>
					<li><a href="#">blog</a></li>
				</ul>
			</nav>
		</div>

		<div class="column large-2 large-offset-2">
			<div class="switch tiny">Japanify
			  <input class="switch-input" id="japanify" type="checkbox" name="japanify" checked>
			  <label class="switch-paddle" for="japanify">
			    <span class="switch-active" aria-hidden="true">On</span>
			    <span class="switch-inactive" aria-hidden="true">Off</span>
			  </label>
			</div>
		</div>
	</div>
</footer>
