<footer class="row maxRow mainBackgroundColor">
<nav class="small-5 columns text-center">
	<ul class="menu">
		<li><a href="#">github</a></li>
		<li><a href="#">linkedIn</a></li>
		<li><a href="#">blog</a></li>
	</ul>
</nav>
<div class="switch tiny columns small-offset-5 small-2">Japanify
  <input class="switch-input" id="japanify" type="checkbox" name="japanify" checked>
  <label class="switch-paddle" for="japanify">
    <span class="show-for-sr">Japanify</span>
    <span class="switch-active" aria-hidden="true">On</span>
    <span class="switch-inactive" aria-hidden="true">Off</span>
  </label>
</div>
</footer>
