<header>
	<div id="header-top">
		<a id='logo' href='{{ "" | prepend: site.baseurl }}'>
			<img src='{{ "/assets/logo.png" | prepend: site.baseurl }}' alt='Kimchi Chingu Logo'>
		</a>
	</div>
	<nav>
			<ul class="menu">
				<li><a href="{{ "/korean-songs" | prepend: site.baseurl }}">Korean songs</a></li>
				<li><a href="{{ "/japanese-songs" | prepend: site.baseurl }}">Japanese Songs</a></li>
				<li><a href="{{ "/cheatsheet" | prepend: site.baseurl }}">Japanese/Korean Cheat Sheet</a></li>
			</ul>
		</nav>
</header>
