@import "bower_components/foundation-sites/scss/foundation";

@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-menu;
@include foundation-menu-icon;

main.row{
	max-width: 90%;
}
.maxRow{
	max-width: 100%;
}
footer{
	width:100%;
	border-top: solid 3px
}